 .navbar{
    position: fixed;
    height: 30px;
    width: 100%;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.7);

 }
 
 .logo{
    position: fixed;
    left: 20px;
    width: 80px;
 }

 .avatar{
    position: fixed;
    right: 20px;
    width: 30px;
}